:host {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast-message {
  background-color: #323232;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
  @starting-style {
    opacity: 0;
    transform: translateY(100%);
  }

  button {
    color: white;
  }
}

.toast-message.success {
  background-color: #4caf50;
}

.toast-message.error {
  background-color: #f44336;
}

.toast-message.warning {
  background-color: #ff9800;
}

.toast-message.info {
  background-color: #2196f3;
}

.leaving {
  opacity: 0;
  transform: translateY(100%);
}
