@use '@angular/material' as mat;
@import 'tailwindcss';

:root {
  @include mat.fab-overrides(
    (
      small-container-color: oklch(97.9% 0.021 166.113),
    )
  );
  @include mat.button-overrides(
    (
      filled-container-color: oklch(59.6% 0.145 163.225),
      outlined-label-text-color: white,
      outlined-outline-color: white,
    )
  );
}
